@tailwind base;
@tailwind components;
@tailwind utilities;

.app{
    font-family: 'Poppins', sans-serif;
}
.full-bg {
  background-image: url("Icons/Rectangle\ 225.png"), url("Icons/Rectangle\ 226.png");
  /* background-image: url("Icons/Rectangle\ 226.png"); */
  background-repeat: no-repeat;
  background-color: #272D35;
  background-position: center center;
  background-size: cover;
}

.card1 {
    width: 389px;
    height: 152px;
    background: linear-gradient(95.04deg, #52449B 15.04%, #7D12AF 89.27%);
    box-shadow: 4px 24px 45px rgba(111, 76, 164, 0.16);
    border-radius: 20px;
  }
  
  .card2 {
    width: 389px;
    height: 152px;
    background: linear-gradient(279.13deg, #F362EE -9.54%, #8B28BA 151.3%);
    box-shadow: 4px 24px 45px rgba(111, 76, 164, 0.16);
    border-radius: 20px;
  }
  .chart3 {
    width: 389px;
    height: 331px;
  
    background: #272D35;
    border-radius: 20px;
  }